.p-tab-compact {
  padding: 0.5rem 0.75rem !important;
  font-size: 0.875rem;
  white-space: nowrap;
}

.p-drawer-right {
  width: 40vw !important;
}

#ParticipantsPanel .p-tablist-tab-list {
  justify-content: center;
}